button {
    color:black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border-radius: 1em;
}

button:hover {
    background-color:rgb(201, 201, 201)
}

.actived{
    background-color: red;
}

.inactive{
    color: gray;
}
