html{
    box-sizing: inherit;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: rgb(172, 243, 219);
}
nav{
    position:relative ;
    width: 100%;
    margin: 1em;
    text-align: left;
    color: white;
    font-size: larger;
    background-color: rgb(37, 125, 95);
    padding: 1em;
    border-radius: 1em;
    border-style:ridge ;
    border-width: .5rem;
}
form{
    padding: 3rem;
    text-align: top left;
    width: 50%;
    height: auto;
    background-color: cadetblue;
    border-color: black;
    border-style: solid;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right:15rem;
    margin-left: 15rem;
    overflow: auto;
    border-radius: 1em;
}
.form-group{
    padding: .5em;
}
.form-group input{
    background-color: rgb(190, 239, 234);
    width: 10rem;
}
.form-group-post{
    padding: .5em;
}
.form-group-post input{
    width: 50%;
    height: auto;
    background-color: rgb(190, 239, 234);
}
.post-button{
    background-color: aquamarine;
    box-shadow: inset, gray, 2;
    padding: 0.5rem;
    border-radius: 1em;
}
.post-button:hover{
    background-color: rgb(90, 178, 149);
}
ul{
    text-decoration: none;
    list-style-type: none;
    border-color: black;
    border-style:solid ;
    border-radius: 1em;
    background-color:rgb(190, 239, 234);
    margin-left: 15rem;
    margin-right: 15rem;
    overflow: auto;
}
li{
    text-align: left;
    border-style: solid;
    padding: 1rem;

    
}